/*.FancyBorder {
  border: 3px solid black;
}

.FancyBorder-pink {
  border-color: deeppink;
}

.FancyBorder-red {
  border-color: red;
}
.FancyBorder-orange {
  border-color: orange;
}
.FancyBorder-yellow {
  border-color: yellow;
}
.FancyBorder-green {
  border-color: green;
}
.FancyBorder-blue {
  border-color: blue;
}

.FancyBorder-purple {
  border-color: purple;
}
.FancyBorder-black {
  border-color: black;
}
.FancyBorder-brown {
  border-color: brown;
}
.FancyBorder-turquoise {
  border-color: turquoise;
}*/

/*COLOR PALETTE*/
.dark-primary-color    { background: #0097A7 ; }
.default-primary-color { background: #00BCD4 ; }
.light-primary-color   { background: #B2EBF2 ; }
.text-primary-color    { color: #FFFFFF ; }
.accent-color          { background: #FF9800 ; }
.primary-text-color    { color: #212121 ; }
.secondary-text-color  { color: #757575 ; }
.divider-color         { border-color: #BDBDBD ; }

body {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: white;
}
.btn-primary:hover {
  background-color: #0097A7;
  border-color: #0097A7;
  color: white;
}
.btn-primary:focus {
  background-color: #0097A7;
  border-color: #0097A7;
  color: white;
}
.btn-primary:active:focus {
  background-color: #0097A7;
  border-color: #0097A7;
  color: white;
}
.btn-success {
  background-color: #FF9800;
  border-color: #FF9800;
  color: white;
}
.btn-success:hover {
  background-color: #0097A7;
  border-color: #0097A7;
  color: white;
}
.btn-success:focus {
  background-color: #0097A7;
  border-color: #0097A7;
  color: white;
}
.btn-success:active:focus {
  background-color: #0097A7;
  border-color: #0097A7;
  color: white;
}
.label-primary {
  background-color:  #00BCD4;
}

h1 {
  font-size: 60px;
  font-family: 'Rancho', cursive;
}

.mapImage {
  height: 35px;
  width: 35px; 
  margin-bottom: 3px;
}

.mapImage:hover {
  opacity: .5;
}

.optionsFavicon {
  height: 70px;
  width: 70px;
}

img[src]:hover {
  opacity: .5;
}

.title {
  text-align: center;
  font-weight: bold;
}

.finalizeButton {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;
  border-radius: 5px;
  border-width: 0px;
}

.goBackButton {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #4e3c2e;
  color:white;
  border-radius: 5px;
  border-width: 0px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.centered {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  width: 80%;
}

.lpInput {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  color: #545454
}

.inputs {
  margin-top: 15px; 
}
.landing-page-title {
  margin-bottom: 35px;
}

.langind-page-inputs {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  color: #545454;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}

.landing-page-interest-title {
  margin-top: 35px;
}

.mapContainer {
  margin: 0px;
  padding: 0px; 

}

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 95vh;
    margin: 0;

}

.EntityListEntry:hover {
  cursor: pointer;
  background-color: #B2EBF2;
}

.tabs {
  margin: 0px;
  padding: 0px;
  height: 95vh;


}

.tabContent {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.EntityListEntry {
  margin: 0px;
  padding: 0px;
  background: white;
}

.entityModal {
  width: 80%;
}

.entityModalDescription {
  max-height: 40vh;
  overflow-y: auto;
}

.modalActivityLabel {
  display: inline-block;
  padding-left: 5px;
}
.modalMap {
  height: 45vh;
  margin: 5px;
}

.itineraryEntry {
  background: white;
  padding: 0px;
  margin: 0px;
}

.itinerary {
  padding: 0px;
  margin: 0px;
}
.resultsPage {
  background: white;
  height: 100vh;
  overflow: hidden;
}

.landingPage {
  background-image: url('https://static.pexels.com/photos/67517/pexels-photo-67517.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  /*height: 100vh;*/
}

.landingPageContainer {
  margin-top:5%;
  margin-bottom:10%;
}

.landingPageContent {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color:  #444D52;
  border-radius: 10px;
}

.mapAndList {
  background-color: white;
  height: 95vh;
  border-radius: 5px;
}

.navBar {
  height:5vh;
  width:100%;
  background:  #B2EBF2;
}
.progress-bar-warning {
  background-color: #FF9800;
}

.progress-bar-success {
  background-color: #0097A7;
}

.entityContactsRow {
  padding-top: 20px
}

.entityDescriptionRow {
  padding-top: 20px
}

.interestButton { 
  padding: 20px;
  border-radius: 5px;
  background-color: #00BCD4;
  border-width: 0px;
  font-size: 15px;
  color: #212121;
}

.includedInterestButton { 
  padding: 20px;
  border-radius: 10px;
  background-color: #0097A7;
  border-width: 0px;
  font-size: 15px;
    color: white;
}

.interestFavicon { 
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: #b18571;
  border-width: 0px;
  font-size: 15px;
  color: black;
}

.includedInterestFavicon { 
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: #667c50;
  border-width: 0px;
  font-size: 15px;
  color: white;
}

.optionsInput {
  margin-left: 20px;
  float: left;
}

.plan-vacation-button {
  border-radius: 5px;
  margin-top: 25px;
  line-height: 2;
  background: #FF9800;
  color:black;
  font-size: 20px;
  border-width: 0px
}

.legRow {
  background: white;
  margin: 4px 0;
}

.childLegRow {
  background: #f5f5f5;
  overflow-x: hidden;
}

.tabButtons button {
  margin-top: 2vh;
  height: 3vh;
  width:100%;
  border-width: 0;
  border-radius: 0;
}

.progressBars {
  padding-top: 1vh;
  height: 5vh;
}

.progressBarGlyphicon {
  color:white;
}

.legHourInput {
  width:50px;
  height: 15px;
  font-size: 12px;
}

.toggleStepButton {
  float:right;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

.stepMarker {
  height: 10px;
  width: 10px;

  margin:0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.start {
    background: green;
}

.end {
    background: red;
}

.adventure {
    background: purple;
}

.hoursLeftContainer {
    height:100%;
}

.hoursLeftText {

    position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
